{% extends "base.html" %}
{% block title %} {{user.first_name}} {{user.last_name}}{% endblock %}
{% block content %}
<h1 class="display-1">User Info</h1>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img src="{{user.img_url}}" alt="">
        </div>
        <div class="col-md-4">
            <h2>{{user.first_name}} {{user.last_name}}</h2>
            <form>
            <button class="btn btn-primary" formaction="/users/{{ user.id }}/edit" formmethod="GET">Edit</button></a>
            
            <button formaction="/users/{{ user.id }}/delete" formmethod="POST" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
</div>



{% endblock %}