{% extends 'base.html' %}
{% block title %}Add a user{% endblock %}
{%block content%}
<h1 class="display-1">Add a user:</h1>
<form action="/users/new" method="POST">
    <div class="mb-3">
    <label for="first_name" class="form-control">First Name:</label>
    <input type="text" name="first_name" class="form-control" placeholder="Enter First Name">
    </div>
    <div class="mb-3">
    <label for="last_name" class="form-control">Last Name:</label>
    <input type="text" name="last_name" class="form-control" placeholder="Enter Last Name">
    </div>
    <div class="mb-3">
    <label for="img_url" class="form-control">Image Url:</label>
    <input type="text" name="img_url" class="form-control" placeholder="Enter Image Url">
    </div>
    <button class="btn btn-primary">Submit</button>
</form>


{%endblock%}